FSST/courses-master/WEB-NW-PROG/05-WEBSERVICES_REST/02-ueben/AB-02-cpp-webservice-gsoap/gSOAP-serverside/calculator.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="calculator"
 targetNamespace="urn:calculator"
 xmlns:tns="urn:calculator"
 xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
 xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:ns="urn:calculator"
 xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:HTTP="http://schemas.xmlsoap.org/wsdl/http/"
 xmlns:MIME="http://schemas.xmlsoap.org/wsdl/mime/"
 xmlns:DIME="http://schemas.xmlsoap.org/ws/2002/04/dime/wsdl/"
 xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/"
 xmlns="http://schemas.xmlsoap.org/wsdl/">

<types>

 <schema targetNamespace="urn:calculator"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:ns="urn:calculator"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">
  <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
 </schema>

</types>

<message name="addRequest">
 <part name="a" type="xsd:double"/><!-- ns__add::a -->
 <part name="b" type="xsd:double"/><!-- ns__add::b -->
</message>

<message name="addResponse">
 <part name="result" type="xsd:double"/><!-- ns__add::result -->
</message>

<message name="subRequest">
 <part name="a" type="xsd:double"/><!-- ns__sub::a -->
 <part name="b" type="xsd:double"/><!-- ns__sub::b -->
</message>

<message name="subResponse">
 <part name="result" type="xsd:double"/><!-- ns__sub::result -->
</message>

<message name="sqrtRequest">
 <part name="a" type="xsd:double"/><!-- ns__sqrt::a -->
</message>

<message name="sqrtResponse">
 <part name="result" type="xsd:double"/><!-- ns__sqrt::result -->
</message>

<portType name="calculatorPortType">
 <operation name="add">
  <documentation>Service definition of function ns__add</documentation>
  <input message="tns:addRequest"/>
  <output message="tns:addResponse"/>
 </operation>
 <operation name="sub">
  <documentation>Service definition of function ns__sub</documentation>
  <input message="tns:subRequest"/>
  <output message="tns:subResponse"/>
 </operation>
 <operation name="sqrt">
  <documentation>Service definition of function ns__sqrt</documentation>
  <input message="tns:sqrtRequest"/>
  <output message="tns:sqrtResponse"/>
 </operation>
</portType>

<binding name="calculator" type="tns:calculatorPortType">
 <SOAP:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
 <operation name="add">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:calculator" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:calculator" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="sub">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:calculator" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:calculator" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="sqrt">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:calculator" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:calculator" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
</binding>

<service name="calculator">
 <documentation>gSOAP 2.8.16 generated service definition</documentation>
 <port name="calculator" binding="tns:calculator">
  <SOAP:address location="http://127.0.0.1/calculator.cgi"/>
 </port>
</service>

</definitions>
